<!-- ***** Header Area End ***** -->

<div class="page-heading">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <h6>Welcome to Eva</h6>
        <h2>Discover the Galaxies</h2>
        <span>Home > <a href="/galaxies">Galaxies</a></span>
      </div>
    </div>
  </div>
  <div class="featured-explore">
    <div class="container-fluid">
      <div class="row">
        <div class="col-lg-12">
          <div class="owl-features owl-carousel">

            <div class="item">
              <div class="thumb">
                <img src="assets/images/andromeda.jpg" alt="pic" style="border-radius: 20px;">
                <div class="hover-effect">
                  <div class="content">
                  <h4>Andromeda galaxy</h4>
                  </div>
                </div>
              </div>
            </div>

            <div class="item">
              <div class="thumb">
                <img src="assets/images/antennae.jpg" alt="pic" style="border-radius: 20px;">
                <div class="hover-effect">
                  <div class="content">
                    <h4>Antennae galaxy</h4>
                  </div>
                </div>
              </div>
            </div>

            <div class="item">
              <div class="thumb">
                <img src="assets/images/backward.jpg" alt="" style="border-radius: 20px;">
                <div class="hover-effect">
                  <div class="content">
                  <h4>Backward galaxy</h4>
                  </div>
                </div>
              </div>
            </div>

            <div class="item">
              <div class="thumb">
                <img src="assets/images/blackeye.jpg" alt="" style="border-radius: 20px;">
                <div class="hover-effect">
                  <div class="content">
                  <h4>Black Eye galaxy</h4>
                  </div>
                </div>
              </div>
            </div>

            <div class="item">
              <div class="thumb">
                <img src="assets/images/butterfly.jpg" alt="" style="border-radius: 20px;">
                <div class="hover-effect">
                  <div class="content">
                  <h4>Butterfly galaxy</h4>
                  </div>
                </div>
              </div>
            </div>

            <div class="item">
              <div class="thumb">
                <img src="assets/images/cartweel.jpg" alt="" style="border-radius: 20px;">
                <div class="hover-effect">
                  <div class="content">
                  <h4>Cartweel galaxy</h4>
                  </div>
                </div>
              </div>
            </div>

            
          </div>
        </div>
      </div>
    </div>
  </div>
</div>



     <!-- Services-->
     <section class="page-section1" id="services">
      <div class="container">
          <div class="text-center">
              <h3 class="section-heading text-uppercase">Galaxies</h3>
            <h3 class="section-subheading text-muted">Galaxies are vast cosmic structures consisting of billions to trillions of stars, planets, and various celestial objects, exhibiting a wide range of shapes and sizes, and playing a vital role in understanding the universe's evolution and composition</h3>
          </div>
          <div class="row text-center">
              <div class="col-md-4">

                <h3 class="my-3">Vastness and Diversity</h3>
                <p class="text-muted">Galaxies are incredibly vast structures that contain billions to trillions of stars, as well as various other celestial objects like planets, moons, asteroids, and comets. They come in a wide range of shapes, sizes, and colors, showcasing a remarkable diversity. The three main types of galaxies are spiral galaxies (such as our Milky Way), elliptical galaxies, and irregular galaxies. Each type exhibits distinct characteristics in terms of their shape, structure, and distribution of stars.</p>
              </div>
              <div class="col-md-4">

                <h3 class="my-3">Gravitational Dynamics</h3>
                <p class="text-muted"> Gravity plays a crucial role in the formation and evolution of galaxies. The gravitational force between stars and other matter within a galaxy helps to shape its structure and motion. Galaxies are not static entities but are in a state of constant motion, with stars orbiting around a galactic center. The interactions between galaxies can also be influenced by gravity, leading to phenomena such as galaxy mergers or collisions. These gravitational dynamics shape the overall structure of the universe on both large and small scales.</p>
              </div>
              <div class="col-md-4">

                <h3 class="my-3">Dark Matter</h3>
                <p class="text-muted">A significant portion of a galaxy's mass is believed to be composed of dark matter. Dark matter is an invisible and mysterious form of matter that does not emit, absorb, or reflect light, making it difficult to detect directly. Its presence is inferred through its gravitational effects on visible matter. The gravitational pull of dark matter helps to hold galaxies together and prevents them from flying apart due to the high speeds at which stars and other objects are moving within them. The exact nature of dark matter remains one of the biggest mysteries in modern astrophysics, and ongoing research aims to uncover its properties and understand its role in galaxy formation and evolution.</p>
              </div>
          </div>
      </div>
  </section>
  <!-- Portfolio Grid-->
  <section class="page-section bg-light" id="portfolio">
      <div class="container">
          <div class="text-center">
              <h3 class="section-heading text-uppercase">Explore the Galaxies</h3>
            <h3 class="section-subheading text-muted">Galaxies come in diverse shapes, sizes, and colors, ranging from majestic spirals with elegant arms to elliptical shapes and irregular formations. </h3>
          </div>
          <div class="row">
              <div class="col-lg-4 col-sm-6 mb-4">
                  <!-- Portfolio item 1-->
                  <div class="portfolio-item">
                      <a class="portfolio-link" data-bs-toggle="modal" href="#portfolioModal1">
                          <div class="portfolio-hover">
                              <div class="portfolio-hover-content"><i class="fas fa-plus fa-3x"></i></div>
                          </div>
                          <img class="img-fluid" src="assets/images/galaxies/andromeda1.jpg" alt="..." />
                      </a>
                      <div class="portfolio-caption">
                          <div class="portfolio-caption-heading">Andromeda Galaxy</div>
                          <div class="portfolio-caption-subheading text-muted">Galaxiy in the Milky Way</div>
                      </div>
                  </div>
              </div>
              <div class="col-lg-4 col-sm-6 mb-4">
                  <!-- Portfolio item 2-->
                  <div class="portfolio-item">
                      <a class="portfolio-link" data-bs-toggle="modal" href="#portfolioModal2">
                          <div class="portfolio-hover">
                              <div class="portfolio-hover-content"><i class="fas fa-plus fa-3x"></i></div>
                          </div>
                          <img class="img-fluid" src="assets/images/galaxies/antennae2.jpg" alt="..." />
                      </a>
                      <div class="portfolio-caption">
                          <div class="portfolio-caption-heading">Antennae Galaxies</div>
                          <div class="portfolio-caption-subheading text-muted">Galaxies in Corvus</div>
                      </div>
                  </div>
              </div>
              <div class="col-lg-4 col-sm-6 mb-4">
                  <!-- Portfolio item 3-->
                  <div class="portfolio-item">
                      <a class="portfolio-link" data-bs-toggle="modal" href="#portfolioModal3">
                          <div class="portfolio-hover">
                              <div class="portfolio-hover-content"><i class="fas fa-plus fa-3x"></i></div>
                          </div>
                          <img class="img-fluid" src="assets/images/galaxies/backward3.jpg" alt="..." />
                      </a>
                      <div class="portfolio-caption">
                          <div class="portfolio-caption-heading">Backward Galaxy</div>
                          <div class="portfolio-caption-subheading text-muted">Galaxy in Centaurus</div>
                      </div>
                  </div>
              </div>
              <div class="col-lg-4 col-sm-6 mb-4 mb-lg-0">
                  <!-- Portfolio item 4-->
                  <div class="portfolio-item">
                      <a class="portfolio-link" data-bs-toggle="modal" href="#portfolioModal4">
                          <div class="portfolio-hover">
                              <div class="portfolio-hover-content"><i class="fas fa-plus fa-3x"></i></div>
                          </div>
                          <img class="img-fluid" src="assets/images/galaxies/blackeye4.jpg" alt="..." />
                      </a>
                      <div class="portfolio-caption">
                          <div class="portfolio-caption-heading">Black Eye Galaxy</div>
                          <div class="portfolio-caption-subheading text-muted">Galaxy in Coma Berencies</div>
                      </div>
                  </div>
              </div>
              <div class="col-lg-4 col-sm-6 mb-4 mb-sm-0">
                  <!-- Portfolio item 5-->
                  <div class="portfolio-item">
                      <a class="portfolio-link" data-bs-toggle="modal" href="#portfolioModal5">
                          <div class="portfolio-hover">
                              <div class="portfolio-hover-content"><i class="fas fa-plus fa-3x"></i></div>
                          </div>
                          <img class="img-fluid" src="assets/images/galaxies/butterfly5.jpg" alt="..." />
                      </a>
                      <div class="portfolio-caption">
                          <div class="portfolio-caption-heading">Butterfly Galaxies</div>
                          <div class="portfolio-caption-subheading text-muted">Galaxies in Virgo</div>
                      </div>
                  </div>
              </div>
              <div class="col-lg-4 col-sm-6">
                  <!-- Portfolio item 6-->
                  <div class="portfolio-item">
                      <a class="portfolio-link" data-bs-toggle="modal" href="#portfolioModal6">
                          <div class="portfolio-hover">
                              <div class="portfolio-hover-content"><i class="fas fa-plus fa-3x"></i></div>
                          </div>
                          <img class="img-fluid" src="assets/images/galaxies/cartwheel6.jpg" alt="..." />
                      </a>
                      <div class="portfolio-caption">
                          <div class="portfolio-caption-heading">Cartwheel Galaxy</div>
                          <div class="portfolio-caption-subheading text-muted">Galaxy in Sculptor</div>
                      </div>
                  </div>
              </div>

             

           

          </div>
      </div>
  </section>
  <!-- Portfolio Modals-->
  <!-- Portfolio item 1 modal popup-->
  <div class="portfolio-modal modal fade" id="portfolioModal1" tabindex="-1" role="dialog" aria-hidden="true">
      <div class="modal-dialog">
          <div class="modal-content">

              <div class="container">
                  <div class="row justify-content-center">
                      <div class="col-lg-12">
                          <div class="modal-body">
                              <!-- Project details-->
                              <h2 class="text-uppercase">Andromeda</h2>
                            <p class="item-intro text-muted ">The Andromeda Galaxy is the closest spiral galaxy to the Milky Way and is on a collision course with our own galaxy.</p>
                              <img class="img-fluid d-block mx-auto" src="assets/images/galaxies/andromeda1.jpg" alt="..." />
                            <p class="p1">The Andromeda Galaxy, also known as Messier 31 or M31, is located approximately 2.537 million light-years away from Earth. It is a spiral galaxy similar in structure to our Milky Way. Andromeda is the largest galaxy in the Local Group, a collection of galaxies that includes the Milky Way and about 54 other smaller galaxies. In about 4.5 billion years, the Andromeda Galaxy is expected to collide with our Milky Way, resulting in a cosmic event known as a galactic merger.</p>
                              <ul class="list-inline">
                                  <li>
                                      <strong>Galaxy:</strong>
                                      Andromeda
                                  </li>
                                  <li>
                                      <strong>Place:</strong>
                                      Milky Way
                                  </li>
                              </ul>
                              <button class="btn btn-primary btn-xl text-uppercase" data-bs-dismiss="modal" type="button">
                                  <i class="fas fa-xmark me-1"></i>
                                  Close
                              </button>
                          </div>
                      </div>
                  </div>
              </div>
          </div>
      </div>
  </div>
  <!-- Portfolio item 2 modal popup-->
  <div class="portfolio-modal modal fade" id="portfolioModal2" tabindex="-1" role="dialog" aria-hidden="true">
      <div class="modal-dialog">
          <div class="modal-content">

              <div class="container">
                  <div class="row justify-content-center">
                      <div class="col-lg-12">
                          <div class="modal-body">
                              <!-- Project details-->
                              <h2 class="text-uppercase">Antennae</h2>
                            <p class="item-intro text-muted">The Antennae Galaxies are a pair of interacting galaxies characterized by their long tidal tails and intense star formation.</p>
                              <img class="img-fluid d-block mx-auto" src="assets/images/galaxies/antennae2.jpg" alt="..." />
                            <p class="p1">The Antennae Galaxies, also designated as NGC 4038 and NGC 4039, are a pair of interacting galaxies located approximately 45 million light-years away in the constellation Corvus. The galaxies are undergoing a dramatic gravitational interaction, resulting in elongated tidal tails composed of gas, dust, and young stars. This interaction triggers intense star formation, making the Antennae Galaxies a rich laboratory for studying the effects of galactic collisions.</p>
                              <ul class="list-inline">
                                  <li>
                                      <strong>Galaxy:</strong>
                                      Antennae
                                  </li>
                                  <li>
                                      <strong>Place:</strong>
                                      Corvus
                                  </li>
                              </ul>
                              <button class="btn btn-primary btn-xl text-uppercase" data-bs-dismiss="modal" type="button">
                                  <i class="fas fa-xmark me-1"></i>
                                  Close
                              </button>
                          </div>
                      </div>
                  </div>
              </div>
          </div>
      </div>
  </div>
  <!-- Portfolio item 3 modal popup-->
  <div class="portfolio-modal modal fade" id="portfolioModal3" tabindex="-1" role="dialog" aria-hidden="true">
      <div class="modal-dialog">
          <div class="modal-content">

              <div class="container">
                  <div class="row justify-content-center">
                      <div class="col-lg-12">
                          <div class="modal-body">
                              <!-- Project details-->
                              <h2 class="text-uppercase">Backward</h2>
                            <p class="item-intro text-muted">The "Backward" Galaxy, also known as NGC 4622, is a peculiar galaxy with a distinctive trailing spiral arm that appears to go against the usual rotation direction of galaxies.</p>
                              <img class="img-fluid d-block mx-auto" src="assets/images/galaxies/backward3.jpg" alt="..." />
                            <p class="p1">NGC 4622, often referred to as the "Backward Galaxy," is a peculiar galaxy located about 111 million light-years away in the constellation Centaurus. It stands out due to its unusual trailing spiral arm, which appears to be rotating in the opposite direction to most spiral galaxies. This peculiarity is thought to have been caused by a past merger or gravitational interaction with another galaxy, resulting in a reshaping of its structure.</p>

                              <ul class="list-inline">
                                  <li>
                                      <strong>Galaxy:</strong>
                                      Backward
                                  </li>
                                  <li>
                                      <strong>Place:</strong>
                                      Centaurus
                                  </li>
                              </ul>
                              <button class="btn btn-primary btn-xl text-uppercase" data-bs-dismiss="modal" type="button">
                                  <i class="fas fa-xmark me-1"></i>
                                  Close
                              </button>
                          </div>
                      </div>
                  </div>
              </div>
          </div>
      </div>
  </div>
  <!-- Portfolio item 4 modal popup-->
  <div class="portfolio-modal modal fade" id="portfolioModal4" tabindex="-1" role="dialog" aria-hidden="true">
      <div class="modal-dialog">
          <div class="modal-content">

              <div class="container">
                  <div class="row justify-content-center">
                      <div class="col-lg-12">
                          <div class="modal-body">
                              <!-- Project details-->
                              <h2 class="text-uppercase">Black Eye</h2>
                            <p class="item-intro text-muted">The Black Eye Galaxy, or Messier 64, gets its name from the prominent dark band of dust that appears like a dark eye in the galaxy's bright nucleus.</p>
                              <img class="img-fluid d-block mx-auto" src="assets/images/galaxies/blackeye4.jpg" alt="..." />
                            <p class="p1">essier 64, known as the Black Eye Galaxy or Evil Eye Galaxy, is a spiral galaxy located about 24 million light-years away in the constellation Coma Berenices. It earned its name due to a prominent dark band of dust that crosses its bright nucleus, resembling a black eye. This galaxy is known for its high rate of star formation and a massive central structure called a "supermassive black hole."</p>
                              <ul class="list-inline">
                                  <li>
                                      <strong>Galaxy:</strong>
                                      Black Eye
                                  </li>
                                  <li>
                                      <strong>Place:</strong>
                                      Coma Berencies
                                  </li>
                              </ul>
                              <button class="btn btn-primary btn-xl text-uppercase" data-bs-dismiss="modal" type="button">
                                  <i class="fas fa-xmark me-1"></i>
                                  Close
                              </button>
                          </div>
                      </div>
                  </div>
              </div>
          </div>
      </div>
  </div>
  <!-- Portfolio item 5 modal popup-->
  <div class="portfolio-modal modal fade" id="portfolioModal5" tabindex="-1" role="dialog" aria-hidden="true">
      <div class="modal-dialog">
          <div class="modal-content">

              <div class="container">
                  <div class="row justify-content-center">
                      <div class="col-lg-12">
                          <div class="modal-body">
                              <!-- Project details-->
                              <h2 class="text-uppercase">Butterfly</h2>
                            <p class="item-intro text-muted">The Butterfly Galaxy, also called NGC 6302, is a planetary nebula resembling the shape of a butterfly due to its distinctive bipolar structure.</p>
                              <img class="img-fluid d-block mx-auto" src="assets/images/galaxies/butterfly5.jpg" alt="..." />
                            <p class="p1">NGC 6302, commonly known as the Butterfly Galaxy or Bug Nebula, is a planetary nebula located approximately 3,800 light-years away in the constellation Scorpius. It earned its nickname due to its distinctive bipolar structure resembling the wings of a butterfly. This nebula is the result of a dying star, which shed its outer layers, and the intense radiation from its hot central star illuminates the surrounding gas, creating a striking visual appearance.</p>
                              <ul class="list-inline">
                                  <li>
                                      <strong>Galaxy:</strong>
                                      Butterfly
                                  </li>
                                  <li>
                                      <strong>Place:</strong>
                                      Virgo
                                  </li>
                              </ul>
                              <button class="btn btn-primary btn-xl text-uppercase" data-bs-dismiss="modal" type="button">
                                  <i class="fas fa-xmark me-1"></i>
                                  Close
                              </button>
                          </div>
                      </div>
                  </div>
              </div>
          </div>
      </div>
  </div>
  <!-- Portfolio item 6 modal popup-->
  <div class="portfolio-modal modal fade" id="portfolioModal6" tabindex="-1" role="dialog" aria-hidden="true">
      <div class="modal-dialog">
          <div class="modal-content">

              <div class="container">
                  <div class="row justify-content-center">
                      <div class="col-lg-12">
                          <div class="modal-body">
                              <!-- Project details-->
                              <h2 class="text-uppercase">Cartweel</h2>
                            <p class="item-intro text-muted">The Cartwheel Galaxy is a peculiar ring galaxy formed from a collision between a smaller galaxy and a larger spiral galaxy, resulting in a spectacular ripple-like ring structure.</p>
                              <img class="img-fluid d-block mx-auto" src="assets/images/galaxies/cartwheel6.jpg" alt="..." />
                            <p class="p1">The Cartwheel Galaxy, designated as ESO 350-40, is a peculiar ring galaxy located about 500 million light-years away in the constellation Sculptor. It obtained its distinct appearance through a collision between a smaller galaxy and a larger spiral galaxy. The impact generated a shockwave that rippled through the galactic material, resulting in a circular wave of star formation and creating the ring-like structure seen today. The Cartwheel Galaxy is an excellent example of the transformative effects of galactic collisions.</p>
                              <ul class="list-inline">
                                  <li>
                                      <strong>Galaxy:</strong>
                                      Cartwheel
                                  </li>
                                  <li>
                                      <strong>Place:</strong>
                                      Sculptor
                                  </li>
                              </ul>
                              <button class="btn btn-primary btn-xl text-uppercase" data-bs-dismiss="modal" type="button">
                                  <i class="fas fa-xmark me-1"></i>
                                  Close
                              </button>
                          </div>
                      </div>
                  </div>
              </div>
          </div>
      </div>
  </div>

   
