<div class="page-heading">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <h6>Welcome to Eva</h6>
                <h2>Discover our solar system</h2>
                <span>Home > <a href="planets.html">Planets</a></span>
            </div>
        </div>
    </div>
    <div class="featured-explore">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-12">
                    <div class="owl-features owl-carousel">

                        <div class="item">
                            <div class="thumb">
                                <img src="assets/images/mercury.jpg" alt="pic" style="border-radius: 20px;">
                                <div class="hover-effect">
                                    <div class="content">
                                        <h4>Mercury</h4>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="item">
                            <div class="thumb">
                                <img src="assets/images/venus.jpg" alt="pic" style="border-radius: 20px;">
                                <div class="hover-effect">
                                    <div class="content">
                                        <h4>Venus</h4>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="item">
                            <div class="thumb">
                                <img src="assets/images/earth.jpg" alt="" style="border-radius: 20px;">
                                <div class="hover-effect">
                                    <div class="content">
                                        <h4>Earth</h4>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="item">
                            <div class="thumb">
                                <img src="assets/images/mars.jpg" alt="" style="border-radius: 20px;">
                                <div class="hover-effect">
                                    <div class="content">
                                        <h4>Mars</h4>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="item">
                            <div class="thumb">
                                <img src="assets/images/jupiter.jpg" alt="" style="border-radius: 20px;">
                                <div class="hover-effect">
                                    <div class="content">
                                        <h4>Jupiter</h4>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="item">
                            <div class="thumb">
                                <img src="assets/images/saturn.jpg" alt="" style="border-radius: 20px;">
                                <div class="hover-effect">
                                    <div class="content">
                                        <h4>Saturn</h4>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="item">
                            <div class="thumb">
                                <img src="assets/images/uranus.png" alt="" style="border-radius: 20px;">
                                <div class="hover-effect">
                                    <div class="content">
                                        <h4>Uranus</h4>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="item">
                            <div class="thumb">
                                <img src="assets/images/neptune.jpg" alt="" style="border-radius: 20px;">
                                <div class="hover-effect">
                                    <div class="content">
                                        <h4>Neptune</h4>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>



<!-- Services-->
<section class="page-section1" id="services">
    <div class="container">
        <div class="text-center">
            <h3 class="section-heading text-uppercase">Planets</h3>
            <h3 class="section-subheading text-muted">Four unique, rocky worlds, two complex gas giants and two distant ice giants.</h3>
        </div>
        <div class="row text-center">
            <div class="col-md-4">

                <h3 class="my-3">Diverse Planetary Composition</h3>
                <p class="text-muted">Planets exhibit a wide range of compositions. Some are predominantly rocky, like Earth, while others are predominantly gaseous, such as Jupiter and Saturn. This diversity in composition is due to variations in the formation process and conditions within different regions of the protoplanetary disk.</p>
            </div>
            <div class="col-md-4">

                <h3 class="my-3">Orbits and Habitability</h3>
                <p class="text-muted">The orbits of planets around their parent stars play a crucial role in determining their habitability. The distance from the star affects the planet's temperature, presence of liquid water, and potential for supporting life. The concept of the habitable zone, also known as the Goldilocks zone, refers to the range of distances where conditions could be favorable for the existence of liquid water and potentially life as we know it.</p>
            </div>
            <div class="col-md-4">

                <h3 class="my-3">Planetary Interactions and System Dynamics</h3>
                <p class="text-muted">Planets interact with each other and influence the overall dynamics of their solar systems. For example, gravitational interactions between planets can cause orbital changes, including eccentricities, resonances, and even orbital instabilities. These interactions shape the long-term evolution of planetary systems and can lead to phenomena such as planetary migration, formation of gaps in debris disks, and even ejections of planets from their original orbits.</p>
            </div>
        </div>
    </div>
</section>
<!-- Portfolio Grid-->
<section class="page-section bg-light" id="portfolio">
    <div class="container">
        <div class="text-center">
            <h3 class="section-heading text-uppercase">Our Solar System</h3>
            <h3 class="section-subheading text-muted">Our planetary system is located in an outer spiral arm of the Milky Way galaxy.</h3>
        </div>
        <div class="row">
            <div class="col-lg-4 col-sm-6 mb-4">
                <!-- Portfolio item 1-->
                <div class="portfolio-item">
                    <a class="portfolio-link" data-bs-toggle="modal" href="#portfolioModal1">
                        <div class="portfolio-hover">
                            <div class="portfolio-hover-content"><i class="fas fa-plus fa-3x"></i></div>
                        </div>
                        <img class="img-fluid" src="assets/images/planets/mercury1.jpg" alt="..." />
                    </a>
                    <div class="portfolio-caption">
                        <div class="portfolio-caption-heading">Mercury</div>
                        <div class="portfolio-caption-subheading text-muted">Rocky planet</div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-sm-6 mb-4">
                <!-- Portfolio item 2-->
                <div class="portfolio-item">
                    <a class="portfolio-link" data-bs-toggle="modal" href="#portfolioModal2">
                        <div class="portfolio-hover">
                            <div class="portfolio-hover-content"><i class="fas fa-plus fa-3x"></i></div>
                        </div>
                        <img class="img-fluid" src="assets/images/planets/venus2.png" alt="..." />
                    </a>
                    <div class="portfolio-caption">
                        <div class="portfolio-caption-heading">Venus</div>
                        <div class="portfolio-caption-subheading text-muted">Rocky planet</div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-sm-6 mb-4">
                <!-- Portfolio item 3-->
                <div class="portfolio-item">
                    <a class="portfolio-link" data-bs-toggle="modal" href="#portfolioModal3">
                        <div class="portfolio-hover">
                            <div class="portfolio-hover-content"><i class="fas fa-plus fa-3x"></i></div>
                        </div>
                        <img class="img-fluid" src="assets/images/planets/earth3.jpg" alt="..." />
                    </a>
                    <div class="portfolio-caption">
                        <div class="portfolio-caption-heading">Earth</div>
                        <div class="portfolio-caption-subheading text-muted">Rocky planet</div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-sm-6 mb-4 mb-lg-0">
                <!-- Portfolio item 4-->
                <div class="portfolio-item">
                    <a class="portfolio-link" data-bs-toggle="modal" href="#portfolioModal4">
                        <div class="portfolio-hover">
                            <div class="portfolio-hover-content"><i class="fas fa-plus fa-3x"></i></div>
                        </div>
                        <img class="img-fluid" src="assets/images/planets/mars4.jpg" alt="..." />
                    </a>
                    <div class="portfolio-caption">
                        <div class="portfolio-caption-heading">Mars</div>
                        <div class="portfolio-caption-subheading text-muted">Rocky planet</div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-sm-6 mb-4 mb-sm-0">
                <!-- Portfolio item 5-->
                <div class="portfolio-item">
                    <a class="portfolio-link" data-bs-toggle="modal" href="#portfolioModal5">
                        <div class="portfolio-hover">
                            <div class="portfolio-hover-content"><i class="fas fa-plus fa-3x"></i></div>
                        </div>
                        <img class="img-fluid" src="assets/images/planets/jupiter5.jpg" alt="..." />
                    </a>
                    <div class="portfolio-caption">
                        <div class="portfolio-caption-heading">Jupiter</div>
                        <div class="portfolio-caption-subheading text-muted">Gas giant</div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-sm-6">
                <!-- Portfolio item 6-->
                <div class="portfolio-item">
                    <a class="portfolio-link" data-bs-toggle="modal" href="#portfolioModal6">
                        <div class="portfolio-hover">
                            <div class="portfolio-hover-content"><i class="fas fa-plus fa-3x"></i></div>
                        </div>
                        <img class="img-fluid" src="assets/images/planets/saturn6.jpg" alt="..." />
                    </a>
                    <div class="portfolio-caption">
                        <div class="portfolio-caption-heading">Saturn</div>
                        <div class="portfolio-caption-subheading text-muted">Gas giant</div>
                    </div>
                </div>
            </div>

            <div class="col-lg-4 col-sm-6 mb-4">
                <!-- Portfolio item 7-->
                <div class="portfolio-item">
                    <a class="portfolio-link" data-bs-toggle="modal" href="#portfolioModal7">
                        <div class="portfolio-hover">
                            <div class="portfolio-hover-content"><i class="fas fa-plus fa-3x"></i></div>
                        </div>
                        <img class="img-fluid" src="assets/images/planets/uranus7.jpg" alt="..." />
                    </a>
                    <div class="portfolio-caption">
                        <div class="portfolio-caption-heading">Uranus</div>
                        <div class="portfolio-caption-subheading text-muted">Ice giant</div>
                    </div>
                </div>
            </div>


            <div class="col-lg-4 col-sm-6 mb-4">
                <!-- Portfolio item 8-->
                <div class="portfolio-item">
                    <a class="portfolio-link" data-bs-toggle="modal" href="#portfolioModal8">
                        <div class="portfolio-hover">
                            <div class="portfolio-hover-content"><i class="fas fa-plus fa-3x"></i></div>
                        </div>
                        <img class="img-fluid" src="assets/images/planets/neptune8.jpg" alt="..." />
                    </a>
                    <div class="portfolio-caption">
                        <div class="portfolio-caption-heading">Neptune</div>
                        <div class="portfolio-caption-subheading text-muted">Ice giant</div>
                    </div>
                </div>
            </div>


        </div>
    </div>
</section>
<!-- Portfolio Modals-->
<!-- Portfolio item 1 modal popup-->
<div class="portfolio-modal modal fade" id="portfolioModal1" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">

            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-lg-12">
                        <div class="modal-body">
                            <!-- Project details-->
                            <h2 class="text-uppercase">Mercury</h2>
                            <p class="item-intro text-muted ">The smallest planet in our solar system closest to the Sun.</p>
                            <img class="img-fluid d-block mx-auto" src="assets/images/planets/mercury1.jpg" alt="..." />
                            <p class="p1">Mercury is the closest planet to the Sun and the smallest planet in our solar system. It is located at a distance of approximately 57.9 million kilometers from the Sun. Mercury has a diameter of 4,879 kilometers and does not have any moons. Its surface is heavily cratered, and it has a very thin atmosphere.</p>
                            <ul class="list-inline">
                                <li>
                                    <strong>Planet:</strong>
                                    Mercury
                                </li>
                                <li>
                                    <strong>Category:</strong>
                                    Rocky planet
                                </li>
                            </ul>
                            <button class="btn btn-primary btn-xl text-uppercase" data-bs-dismiss="modal" type="button">
                                <i class="fas fa-xmark me-1"></i>
                                Close
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Portfolio item 2 modal popup-->
<div class="portfolio-modal modal fade" id="portfolioModal2" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">

            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-lg-12">
                        <div class="modal-body">
                            <!-- Project details-->
                            <h2 class="text-uppercase">Venus</h2>
                            <p class="item-intro text-muted">Venus spins slowly in the opposite direction.</p>
                            <img class="img-fluid d-block mx-auto" src="assets/images/planets/venus2.png" alt="..." />
                            <p class="p1">Venus is the second planet from the Sun and is often referred to as Earth's "twin" due to its similar size and composition. It is located at an average distance of about 108.2 million kilometers from the Sun. Venus has a diameter of approximately 12,104 kilometers and does not have any moons. It is known for its thick atmosphere consisting mainly of carbon dioxide, which causes a runaway greenhouse effect, resulting in extremely high surface temperatures.</p>
                            <ul class="list-inline">
                                <li>
                                    <strong>Planet:</strong>
                                    Venus
                                </li>
                                <li>
                                    <strong>Category:</strong>
                                    Rocky planet
                                </li>
                            </ul>
                            <button class="btn btn-primary btn-xl text-uppercase" data-bs-dismiss="modal" type="button">
                                <i class="fas fa-xmark me-1"></i>
                                Close
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Portfolio item 3 modal popup-->
<div class="portfolio-modal modal fade" id="portfolioModal3" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">

            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-lg-12">
                        <div class="modal-body">
                            <!-- Project details-->
                            <h2 class="text-uppercase">Earth</h2>
                            <p class="item-intro text-muted">Our home planet-is the only place we know so far that's inhabited by living things.</p>
                            <img class="img-fluid d-block mx-auto" src="assets/images/planets/earth3.jpg" alt="..." />
                            <p class="p1">Earth is the third planet from the Sun and the only known celestial body to support life. It is located at an average distance of about 149.6 million kilometers from the Sun. Earth has a diameter of approximately 12,742 kilometers and a single moon. It is characterized by its diverse ecosystems, water bodies, and an atmosphere that supports a wide variety of life forms.</p>

                            <ul class="list-inline">
                                <li>
                                    <strong>Planet:</strong>
                                    Earth
                                </li>
                                <li>
                                    <strong>Category:</strong>
                                    Rocky planet
                                </li>
                            </ul>
                            <button class="btn btn-primary btn-xl text-uppercase" data-bs-dismiss="modal" type="button">
                                <i class="fas fa-xmark me-1"></i>
                                Close
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Portfolio item 4 modal popup-->
<div class="portfolio-modal modal fade" id="portfolioModal4" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">

            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-lg-12">
                        <div class="modal-body">
                            <!-- Project details-->
                            <h2 class="text-uppercase">Mars</h2>
                            <p class="item-intro text-muted">Mars is dusty, cold, desert world with a very thin atmosphere.</p>
                            <img class="img-fluid d-block mx-auto" src="assets/images/planets/mars4.jpg" alt="..." />
                            <p class="p1">Mars, often called the "Red Planet," is the fourth planet from the Sun. It is located at an average distance of about 227.9 million kilometers from the Sun. Mars has a diameter of approximately 6,779 kilometers and has two small moons, Phobos and Deimos. It is known for its reddish appearance, caused by iron oxide (rust) on its surface. Mars has a thin atmosphere and polar ice caps, and it has been a subject of interest for potential future human exploration.</p>
                            <ul class="list-inline">
                                <li>
                                    <strong>Planet:</strong>
                                    Mars
                                </li>
                                <li>
                                    <strong>Category:</strong>
                                    Rocky planet
                                </li>
                            </ul>
                            <button class="btn btn-primary btn-xl text-uppercase" data-bs-dismiss="modal" type="button">
                                <i class="fas fa-xmark me-1"></i>
                                Close
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Portfolio item 5 modal popup-->
<div class="portfolio-modal modal fade" id="portfolioModal5" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">

            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-lg-12">
                        <div class="modal-body">
                            <!-- Project details-->
                            <h2 class="text-uppercase">Jupiter</h2>
                            <p class="item-intro text-muted">Jupiter is more than twice as amssive than the other planets of our solar system combined.</p>
                            <img class="img-fluid d-block mx-auto" src="assets/images/planets/jupiter5.jpg" alt="..." />
                            <p class="p1">Jupiter is the largest planet in our solar system, located as the fifth planet from the Sun. It is situated at an average distance of about 778.5 million kilometers from the Sun. Jupiter has a diameter of approximately 139,820 kilometers and is orbited by at least 79 moons, including the four largest ones known as the Galilean moons: Io, Europa, Ganymede, and Callisto. Jupiter is a gas giant and is known for its vibrant atmospheric bands, the Great Red Spot (a persistent storm), and its numerous moons.</p>
                            <ul class="list-inline">
                                <li>
                                    <strong>Planet:</strong>
                                    Jupiter
                                </li>
                                <li>
                                    <strong>Category:</strong>
                                    Gas giant
                                </li>
                            </ul>
                            <button class="btn btn-primary btn-xl text-uppercase" data-bs-dismiss="modal" type="button">
                                <i class="fas fa-xmark me-1"></i>
                                Close
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Portfolio item 6 modal popup-->
<div class="portfolio-modal modal fade" id="portfolioModal6" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">

            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-lg-12">
                        <div class="modal-body">
                            <!-- Project details-->
                            <h2 class="text-uppercase">Saturn</h2>
                            <p class="item-intro text-muted">Adorned with dazzling, complex system of icy rings, Saturn is unique.</p>
                            <img class="img-fluid d-block mx-auto" src="assets/images/planets/saturn6.jpg" alt="..." />
                            <p class="p1">Saturn is the sixth planet from the Sun and is recognized for its beautiful ring system. It is located at an average distance of about 1.4 billion kilometers from the Sun. Saturn has a diameter of approximately 116,460 kilometers and is orbited by more than 80 moons, with its largest moon being Titan. Saturn's iconic ring system is composed of ice particles and dust, and its atmosphere boasts distinct cloud bands.</p>
                            <ul class="list-inline">
                                <li>
                                    <strong>Planet:</strong>
                                    Saturn
                                </li>
                                <li>
                                    <strong>Category:</strong>
                                    Gas giant
                                </li>
                            </ul>
                            <button class="btn btn-primary btn-xl text-uppercase" data-bs-dismiss="modal" type="button">
                                <i class="fas fa-xmark me-1"></i>
                                Close
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Portfolio item 7 modal popup-->
<div class="portfolio-modal modal fade" id="portfolioModal7" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">

            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-lg-12">
                        <div class="modal-body">
                            <!-- Project details-->
                            <h2 class="text-uppercase">Uranus</h2>
                            <p class="item-intro text-muted ">Utanus roattes nearly 90-degree angle from the plane of its orbit.</p>
                            <img class="img-fluid d-block mx-auto" src="assets/images/planets/uranus7.jpg" alt="..." />
                            <p class="p1">Uranus is the seventh planet from the Sun and is notable for its unique sideways orientation. It is located at an average distance of about 2.9 billion kilometers from the Sun. Uranus has a diameter of approximately 50,724 kilometers and is surrounded by a system of rings and at least 27 moons. It is an ice giant planet, primarily composed of hydrogen, helium, and methane. Uranus has a bluish-green color due to the presence of methane in its atmosphere.</p>
                            <ul class="list-inline">
                                <li>
                                    <strong>Planet:</strong>
                                    Uranus
                                </li>
                                <li>
                                    <strong>Category:</strong>
                                    Ice giant
                                </li>
                            </ul>
                            <button class="btn btn-primary btn-xl text-uppercase" data-bs-dismiss="modal" type="button">
                                <i class="fas fa-xmark me-1"></i>
                                Close
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<!-- Portfolio item 8 modal popup-->
<div class="portfolio-modal modal fade" id="portfolioModal8" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">

            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-lg-12">
                        <div class="modal-body">
                            <!-- Project details-->
                            <h2 class="text-uppercase">Neptune</h2>
                            <p class="item-intro text-muted">The eight and most distant major planet orbiting our Sun.</p>
                            <img class="img-fluid d-block mx-auto" src="assets/images/planets/neptune8.jpg" alt="..." />
                            <p class="p1">Neptune is the farthest planet from the Sun and the fourth-largest planet in our solar system. It is located at an average distance of about 4.5 billion kilometers from the Sun. Neptune has a diameter of approximately 49,244 kilometers and is orbited by 14 known moons, including Triton, which is believed to be a captured Kuiper Belt object. Neptune is an ice giant planet, similar to Uranus, and is composed primarily of hydrogen, helium, and methane. It has a bluish color due to the presence of methane in its atmosphere. Neptune also exhibits distinct cloud bands and is known for its active and dynamic weather patterns.</p>
                            <ul class="list-inline">
                                <li>
                                    <strong>Planet:</strong>
                                    Neptune
                                </li>
                                <li>
                                    <strong>Category:</strong>
                                    Ice giant
                                </li>
                            </ul>
                            <button class="btn btn-primary btn-xl text-uppercase" data-bs-dismiss="modal" type="button">
                                <i class="fas fa-xmark me-1"></i>
                                Close
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>




